
@{
    ViewData["Title"] = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manager</h1>

<div class="container">
    <h3>Wake Up:        @ViewBag.v1 </h3>
    <h3>Eat Breakfast:  @ViewBag.v2 </h3>
    <h3>Go To Work:     @ViewBag.v3 </h3>
    <h3>Work Time:      @ViewBag.v1 </h3>
    <h3>Reutrn Home:    @ViewBag.v1 </h3>
    <h3>Relax Time:     @ViewBag.v1 </h3>
    <h3>Sleep:         @ViewBag.v1 </h3>
    <a href="/Home/FireFighter/" class="btn btn-dark">FireFighter</a>
    <a href="/Home/Postman/" class="btn btn-primary">Postman</a>
</div>